/* Шрифты */

@font-face {
  font-family: "Balqis";
  src: url("../fonts/Balqis.woff2") format("woff2"), url("../fonts/Balqis.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoCondensed-Light";
  src: url("../fonts/RobotoCondensed-Light.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "RobotoCondensed-LightItalic";
  src: url("../fonts/RobotoCondensed-LightItalic.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-LightItalic.woff") format("woff");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "RobotoCondensed-Regular";
  src: url("../fonts/RobotoCondensed-Regular.woff2") format("woff2"),
    url("../fonts/RobotoCondensed-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

/* Шрифты */

body {
  color: #000000;
  font-family: "RobotoCondensed-Light", Arial, sans-serif;
  font-size: 18px;
  line-height: 21px;
}

.page-section {
  margin: 200px auto;
  max-width: 1920px;
}

.title {
  font-family: "Balqis";
  font-weight: 300;
  font-size: 96px;
  line-height: 128px;
  color: #e2ab3f;
}

.title span {
  font-family: "RobotoCondensed-LightItalic";
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  color: #000;
  margin-bottom: 100px;
  display: block;
  margin-top: -25px;
}

a {
  color: inherit;
}

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 15px;
}

/* HEADER  */

.header {
  background-image: url("../images/header-bg.jpg");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.header__top {
  display: flex;
  justify-content: space-between;
  padding-top: 70px;
  font-size: 24px;
  line-height: 28px;
  font-family: "RobotoCondensed-Regular";
}

.menu__list-item {
  display: inline-block;
}

.menu__list-item + .menu__list-item {
  margin-left: 52px;
}

.menu__list-link:hover,
.menu__list-link:focus {
  text-decoration: underline;
}

.header__phone {
  padding-left: 40px;
  position: relative;
}

.header__phone::before {
  content: "";
  position: absolute;
  background-image: url("../images/phone-icon.svg");
  background-repeat: no-repeat;
  width: 100px;
  height: 100px;
  left: 0;
}

.header__phone:hover,
.header__phone:focus {
  text-decoration: underline;
}

.header__title {
  font-family: "Balqis";
  font-style: normal;
  font-weight: 300;
  font-size: 250px;
  line-height: 334px;

  padding-top: 152px;
  text-align: center;
}

.header__title span {
  display: block;
  text-align: right;
  font-family: "RobotoCondensed-LightItalic";
  font-style: italic;
  font-weight: 300;
  font-size: 56px;
  line-height: 66px;
  margin-top: -66px;
  margin-right: 88px;
}

/* HEADER  */

/* Fairy Tail */

.fairy-tail__slider {
  width: 50%;
}

.slick-btn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 5;
  cursor: pointer;
  background-color: transparent;
}

.slick-btn:hover {
  opacity: 0.5;
}

.slick-btn:focus {
  outline: auto;
}

.slick-prev {
  left: 0;
}

.slick-next {
  right: 0;
}

.fairy-tail__inner {
  position: relative;
}

.fairy-tail__container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.fairy-tail__body {
  width: 50%;
  margin-left: auto;
  padding-left: 55px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  height: 100%;
}

.fairy-tail__text {
  padding: 10px 0;
}
.fairy-tail__title span {
  margin-left: 185px;
}

.fairy-tail__body-title {
  font-family: "RobotoCondensed-Regular";
}

/* Fairy Tail */

/* Our Trip */
.our-trip__slider {
  width: 50%;
  margin-left: auto;
}

.our-trip__inner {
  position: relative;
}

.our-trip__container {
  max-width: 1230px;
  padding: 0 15px;
  margin: 0 auto;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.our-trip__title span {
  margin-left: 245px;
}

.our-trip__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  align-items: start;
}

.our-trip__list {
  margin: 5px 0;
  font-size: 24px;
  line-height: 28px;
}

.our-trip__list li:first-child {
  margin-bottom: 20px;
  font-family: "RobotoCondensed-Regular";
}

.our-trip__btn {
  font-family: "RobotoCondensed-Light";
  font-size: 24px;
  line-height: 28px;
  color: #000000;
  margin-top: 50px;
  padding: 17px 53px;
  border: 1px solid #e2ab3f;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.our-trip__btn:hover,
.our-trip__btn:focus {
  background-color: #e2ab3f;
}

.trip__content {
  width: 50%;
  padding-right: 55px;
}
/* Our Trip */

/* Hotel */

.hotel__title span {
  margin-left: 115px;
}

.hotel__inner {
  display: flex;
}

.hotel__images {
  margin-right: 100px;
}

.hotel__text {
  margin-bottom: 20px;
}

.hotel__gallery {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.hotel__gallery a {
  margin-top: 50px;
}

/* Hotel */

/* Price */

.price__title span {
  margin-left: 120px;
}

.price__inner {
  display: flex;
}

.price__on-title,
.price__off-title {
  font-family: "RobotoCondensed-Regular";
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 50px;
}

.price__on {
  margin-right: 70px;
  width: 530px;
}

.price__list-item {
  margin-bottom: 20px;
}

.price {
  background-image: url("../images/price__images.png");
  background-repeat: no-repeat;
  background-position: center right 20%;
}

/* Price */

/* contacts */

.contacts__inner {
  display: flex;
  justify-content: space-between;
}

.contacts__date,
.contacts__price {
  font-family: "Balqis";
  font-weight: 300;
  font-size: 96px;
  line-height: 128px;
  color: #e2ab3f;
}

.contacts__date {
  margin-bottom: 20px;
}

.contacts__price {
  margin-left: 120px;
}

.contacts__date span,
.contacts__price span {
  font-family: "RobotoCondensed-LightItalic";
  display: block;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  margin-top: -25px;
  margin-left: 205px;
  color: #000000;
}

.contacts__content {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.contacts__form {
  margin-top: 100px;
  min-width: 383px;
  margin: 0 auto;
}

.contacts__form-title {
  font-family: "RobotoCondensed-Regular";
  font-size: 24px;
  line-height: 28px;
  margin-bottom: 50px;
}

.contact__form-input {
  font-family: "RobotoCondensed-Regular";
  padding: 0 30px;
  color: #000;
  display: block;
  height: 50px;
  margin-bottom: 20px;
  width: 100%;
  border: 1px solid #e2ab3f;
  font-size: 18px;
  line-height: 21px;
  font-weight: 300;
}

.contact__form-input:focus {
  border: 1.5px solid #e26d3f;
}

input::placeholder {
  color: #000;
}

.contacts__form-btn {
  font-family: "RobotoCondensed-Light";
  padding: 11px 45px;
  background-color: transparent;
  border: 1px solid #e2ab3f;
  color: #000;
  font-weight: 300;
  font-size: 24px;
  line-height: 28px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.contacts__form-btn:hover,
.contacts__form-btn:focus {
  background-color: #e2ab3f;
}

/* contacts */

/* footer  */

.footer {
  background-image: url("../images/footer__bg.jpg");
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  height: 100vh;
  padding-top: 96px;
}

.footer__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__text {
  font-family: "Balqis";
  font-weight: normal;
  font-size: 86px;
  line-height: 115px;
}

.footer__contacts {
  width: 356px;
  height: 527px;
  background-image: url("../images/footer-contacts-bg.png");
  background-repeat: no-repeat;
  text-align: center;
}

.footer__contacts-title {
  padding-top: 50px;
  margin-bottom: 50px;
  font-family: "Balqis";
  font-size: 86px;
  line-height: 115px;

  color: #e2ab3f;
}

.footer__phone,
.footer__email {
  display: inline-block;
  padding-left: 40px;
  position: relative;
}

.footer__phone::before,
.footer__email::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  left: 0;
  top: -5px;
}

.footer__phone:hover,
.footer__phone:focus,
.footer__email:hover,
.footer__email:focus {
  text-decoration: underline;
}

.footer__phone::before {
  background-image: url("../images/footer-phone-icon.svg");
  background-repeat: no-repeat;
}

.footer__email::before {
  background-image: url("../images/footer-email-icon.svg");
  background-repeat: no-repeat;
}

.footer__phone {
  margin-bottom: 20px;
}

.footer__social {
  margin-top: 38px;
}

.footer__social a {
  margin: 0 7px;
}

.footer__social-link {
  fill: #e2ab3f;
  transition: 0.3s ease-in-out;
}

.footer__social-link:hover,
.footer__social-link:focus {
  fill: #c49539;
}

/* footer  */

/* Adaptive */

/* Header  */

@media (max-width: 1240px) {
  .header__title {
    padding-top: 120px;
    font-size: 180px;
    line-height: 220px;
  }
  .header__title span {
    font-size: 50px;
    margin-top: -50px;
    margin-right: 150px;
  }
}

@media (max-width: 850px) {
  .header__title {
    padding-top: 100px;
    font-size: 120px;
    line-height: 150px;
  }
  .header__title span {
    font-size: 35px;
    margin-top: -45px;
    margin-right: 95px;
  }
  .header__top {
    font-size: 22px;
    line-height: 25px;
  }
  .header__phone::before {
    width: 25px;
    height: 25px;
    background-size: cover;
  }
}

@media (max-width: 600px) {
  .header__top {
    justify-content: center;
    flex-wrap: wrap;
  }
  .menu {
    width: 100%;
    text-align: center;
    margin-bottom: 25px;
  }
  .header__title {
    font-size: 80px;
    line-height: 120px;
  }
  .header__title span {
    font-size: 25px;
    margin-top: -50px;
    margin-right: 15px;
  }
}

@media (max-width: 380px) {
  .header__title {
    font-size: 65px;
    line-height: 100px;
  }
  .header__title span {
    font-size: 22px;
    margin-top: -48px;
    margin-right: 0px;
  }
  .menu__list-item + .menu__list-item {
    margin-left: 22px;
  }
  .header {
    background-position: 65%;
  }
}

/* Header  */

/* fairy-tail */

@media (max-width: 960px) {
  .page-section {
    margin: 100px 0;
  }
  .fairy-tail__container,
  .our-trip__container {
    position: static;
  }
  .fairy-tail__slider {
    width: 100%;
  }
  .fairy-tail__body {
    margin-top: 20px;
    width: 100%;
    padding-left: 0;
  }
}
@media (max-width: 585px) {
  .fairy-tail__item img {
    height: 50vh;
    width: 100%;
    object-fit: cover;
  }
  .page-section {
    margin: 50px 0;
  }
  .title {
    font-size: 60px;
    line-height: 110px;
    margin-bottom: 30px;
  }
  .title span {
    margin-bottom: 30px;
  }
  .fairy-tail__title span {
    margin-left: 135px;
  }
}

@media (max-width: 380px) {
  .page-section {
    margin: 20px 0;
  }
  .title {
    font-size: 50px;
  }
  .fairy-tail__title span {
    margin-top: -35px;
    font-size: 20px;
    margin-left: 95px;
  }
}
/* fairy-tail */

/* Our trip */
@media (max-width: 960px) {
  .page-section {
    margin: 100px 0;
  }
  .fairy-tail__container,
  .our-trip__container {
    position: static;
  }
  .our-trip__slider {
    margin-top: 50px;
    width: 100%;
  }
  .our-trip__item img {
    height: 70vh;
    width: 100%;
    object-fit: cover;
  }

  .our-trip__body {
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: row;
  }

  .our-trip__list {
    /* display: flex; */
    margin: 0 50px;
    margin-bottom: 50px;
  }

  .our-trip__title {
    width: 100%;
  }
}

@media (max-width: 758px) {
  .our-trip__list {
    display: flex;
    flex-direction: column;
    /* margin: 0px 30px; */
    justify-content: center;
    margin-bottom: 50px;
  }
  .our-trip__body {
    flex-wrap: wrap;
    justify-content: center;
    /* flex-direction: column; */
    margin: 0 auto;
  }
}
@media (max-width: 580px) {
  .our-trip__title span {
    margin-left: 155px;
    margin-top: -35px;
  }
}
/* Our trip */

/* Adaptive */
